
/* DEFAULT.CTP CABEZERA */
body {
    background-color: #fff;
}

select {
	width:100px;
}
#header {
    padding: 0px 20px;
}
.green {
    color: #8FBA42;
}
.userbox {
    background: url("../img/bar-left.png") no-repeat scroll 0 0 transparent;
    float: left;
    font-size: 12px;
    height: 39px;
    padding-left: 6px;
}
.userbox .inner {
    background: url("../img/bar-right.png") no-repeat scroll 100% 0 transparent;
    height: 29px;
    padding: 10px 12px 0 6px;
}
.userbox .avatarname {
    display: inline;
}
ul.usernav {
    display: inline;
    margin: 0;
}
ul.usernav li {
    background: url("../img/bar_separator.gif") no-repeat scroll 5px 0 transparent;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 15px;
}
#header .userbox a {
    color: #4183C4;
    font-weight: bold;
    text-decoration: none;
}

/* Relacion AZKENA */

a.trigger {padding-left:10px; background-image: url(../img/plus.gif); background-repeat: no-repeat; background-position: 1px 50%;  font-weight:700}
a.trigger.open {background-image: url(../img/minus.gif)}
a.trigger2 {padding-left:10px; background-image: url(../img/plus.gif); background-repeat: no-repeat; background-position: 1px 50%;  font-weight:700}
a.trigger2.open {background-image: url(../img/minus.gif)}

#azpititulo {
	width:100%;
	height:30px;
	color: #000000;
    font-size: 15px;
	border:1px solid #000000;
}

#azpititulo  p {
	margin:5px 0px 5px 10px;
}
.divtrtitulo { border-bottom: 1px solid #CAE6FF; line-height: 30px; background: none repeat scroll 0 0 #EDF6FF; }
.divtrtitulo ul {    display: inline;    list-style: none;}
.divtrtitulo ul li {    
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    color: #3A7FD9;
    font-weight:bold;
    height: 32px;
    text-shadow:0 2px 0 #FFFFFF;
    vertical-align: middle;
/* HACK IE6,Ie7 */
        _display: inline;
	_zoom: 1;
	#display: inline;
	#zoom: 1;
}
.divtrtitulo ul li.thtitulo { width: 100px; }
.divtrtitulo ul li.thmas { width:25px; }
.divtrtitulo ul li.th1 { width:65px; }
.divtrtitulo ul li.th2 { width:60px; }
.divtrtitulo ul li.th3 { width:260px; }
.divtrtitulo ul li.th4 { width:50px; }
.divtrtitulo ul li.th5 { width:50px;  border-left: 1px solid #333333; border-right: 1px solid #333333; }
.divtrtitulo ul li.th6 { width:50px; }
.divtrtitulo ul li.thmes { width: 36px; }
.divtrtitulo ul li.thtotal { width: 50px; }

.divtr {
    margin: 0px auto;
    border-bottom: 1px solid #CAE6FF;
    line-height: 23px;
}
.divtr ul {    display: inline;    list-style: none;}
.divtr ul li {    
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color:#fff;
    color: #666666;
/* HACK IE6,Ie7 */
        _display: inline;
	_zoom: 1;
	#display: inline;
	#zoom: 1;

}
.divtr ul li.berde { background-color: #fff; }
.divtr ul li.oria { background-color: #fff99d;  color: black;}
.divtr ul li.naranja { background-color: orange; }
.divtr ul li.gorria { background-color: #b46163; }
.divtr ul li.thtitulo { width: 100px; }
.divtr ul li.thmas { width:25px; }
.divtr ul li.thmas { background-color: #fff; }
.divtr ul li.thmas.amarillo {background-color: #fff99d; color: black;}
.divtr ul li.thmas.naranja {background-color: orange;}
.divtr ul li.thmas.rojo {background-color: #b46163;}
.divtr ul li.th1 { width:65px; }
.divtr ul li.th1.amarillo {background-color: #fff99d; color: black;}
.divtr ul li.th1.naranja {background-color: orange;}
.divtr ul li.th1.rojo {background-color: #b46163;}
.divtr ul li.th2 { width:60px; }
.divtr ul li.th2.amarillo {background-color: #fff99d; color: black;}
.divtr ul li.th2.naranja {background-color: orange;}
.divtr ul li.th2.rojo {background-color: #b46163;}
.divtr ul li.th3 { width:260px; }
.divtr ul li.th3.amarillo {background-color: #fff99d; color: black;}
.divtr ul li.th3.naranja {background-color: orange;}
.divtr ul li.th3.rojo {background-color: #b46163;}
.divtr ul li.th4 { width:50px; }
.divtr ul li.th4.amarillo {background-color: #fff99d; color: black;}
.divtr ul li.th4.naranja {background-color: orange;}
.divtr ul li.th4.rojo {background-color: #b46163;}
.divtr ul li.th5 { width:50px;   border-left: 1px solid #333333; border-right: 1px solid #333333; background-color: #666666; color: #fff; }
.divtr ul li.th5.amarillo {background-color: #fff99d; color: black; border-left: 1px solid #333333; border-right: 1px solid #333333; }
.divtr ul li.th5.naranja {background-color: orange; border-left: 1px solid #333333; border-right: 1px solid #333333; }
.divtr ul li.th5.rojo {background-color: #b46163; border-left: 1px solid #333333; border-right: 1px solid #333333; }
.divtr ul li.th6 { width:50px; }
.divtr ul li.th6.amarillo {background-color: #fff99d; color: black;}
.divtr ul li.th6.naranja {background-color: orange;}
.divtr ul li.th6.rojo {background-color: #b46163;}
.divtr ul li.thmes { width: 36px; }
.divtr ul li.thmes.amarillo {background-color: #fff99d; color: black;}
.divtr ul li.thmes.naranja {background-color: orange;}
.divtr ul li.thmes.rojo {background-color: #b46163;}
.divtr ul li.thtotal { width: 50px; }
.divtr ul li.thtotal.amarillo {background-color: #fff99d; color: black;}
.divtr ul li.thtotal.naranja {background-color: orange;}
.divtr ul li.thtotal.rojo {background-color: #b46163;}


.divtrhito { 
    background: none repeat scroll 0 0 #EDF6FF;
    border-bottom: 1px solid #CAE6FF;
    height: auto;
/*    width: 930px;*/
    display:none;
    margin: 2px auto;
}
.divtrhito ul {    display: inline;    list-style: none;}
.divtrhito ul li {    display: inline-block;    list-style-type: none;        margin: 0px;    padding: 0px; background-color:#C7DBF1; color:black;
    /* HACK IE6,Ie7 */
        _display: inline;
	_zoom: 1;
	#display: inline;
	#zoom: 1;
}
.divtrhito ul li.berde { background-color:  #EDF6FF; color:#333333; }
.divtrhito ul li.thtitulo { width: 100px; }
.divtrhito ul li.thmas { width:25px; }
.divtrhito ul li.thmas.amarillo {background-color: #fff99d; color: black;}
.divtrhito ul li.thmas.naranja {background-color: orange;}
.divtrhito ul li.thmas.rojo {background-color: #b46163;}
.divtrhito ul li.th1 { width:65px; }
.divtrhito ul li.th1.amarillo {background-color: #fff99d; color: black;}
.divtrhito ul li.th1.naranja {background-color: orange;}
.divtrhito ul li.th1.rojo {background-color: #b46163;}
.divtrhito ul li.th2 { width:60px; }
.divtrhito ul li.th2.amarillo {background-color: #fff99d; color: black;}
.divtrhito ul li.th2.naranja {background-color: orange;}
.divtrhito ul li.th2.rojo {background-color: #b46163;}
.divtrhito ul li.th3 { width:260px; }
.divtrhito ul li.th3.amarillo {background-color: #fff99d; color: black;}
.divtrhito ul li.th3.naranja {background-color: orange;}
.divtrhito ul li.th3.rojo {background-color: #b46163;}
.divtrhito ul li.th4 { width:50px; }
.divtrhito ul li.th4.amarillo {background-color: #fff99d; color: black;}
.divtrhito ul li.th4.naranja {background-color: orange;}
.divtrhito ul li.th4.rojo {background-color: #b46163;}
.divtrhito ul li.th5 { width:50px;  border-left: 1px solid #333333; border-right: 1px solid #333333; }
.divtrhito ul li.th5.amarillo {background-color: #fff99d; color: black; border-left: 1px solid #333333; border-right: 1px solid #333333; }
.divtrhito ul li.th5.naranja {background-color: orange; border-left: 1px solid #333333; border-right: 1px solid #333333; }
.divtrhito ul li.th5.rojo {background-color: #b46163; border-left: 1px solid #333333; border-right: 1px solid #333333; }
.divtrhito ul li.th6 { width:50px; }
.divtrhito ul li.th6.amarillo {background-color: #fff99d; color: black;}
.divtrhito ul li.th6.naranja {background-color: orange;}
.divtrhito ul li.th6.rojo {background-color: #b46163;}
.divtrhito ul li.thmes { width: 36px; }
.divtrhito ul li.thmes.amarillo {background-color: #fff99d; color: black;}
.divtrhito ul li.thmes.naranja {background-color: orange;}
.divtrhito ul li.thmes.rojo {background-color: #b46163;}
.divtrhito ul li.thtotal { width: 50px; }
.divtrhito ul li.thtotal.amarillo {background-color: #fff99d; color: black;}
.divtrhito ul li.thtotal.naranja {background-color: orange;}
.divtrhito ul li.thtotal.rojo {background-color: #b46163;}

.divtrtarea { display:none; }
.divtrtarea ul { display: inline;    list-style: none;}
.divtrtarea ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color:#C7DBF1; color:black;
    /* HACK IE6,Ie7 */
    _display: inline;
    _zoom: 1;
    #display: inline;
    #zoom: 1;
}
.divtrtarea ul li.berde { background-color: #EDEFF4; }
.divtrtarea ul li.thtitulo { width: 100px; }
.divtrtarea ul li.thmas { width:25px; }
.divtrtarea ul li.thmas.amarillo {background-color: #fff99d; color: black;}
.divtrtarea ul li.thmas.naranja {background-color: orange;}
.divtrtarea ul li.thmas.rojo {background-color: #b46163;}
.divtrtarea ul li.th1 { width:65px; }
.divtrtarea ul li.th1.amarillo {background-color: #fff99d; color: black;}
.divtrtarea ul li.th1.naranja {background-color: orange;}
.divtrtarea ul li.th1.rojo {background-color: #b46163;}
.divtrtarea ul li.th2 { width:60px; }
.divtrtarea ul li.th2.amarillo {background-color: #fff99d; color: black;}
.divtrtarea ul li.th2.naranja {background-color: orange;}
.divtrtarea ul li.th2.rojo {background-color: #b46163;}
.divtrtarea ul li.th3 { width:260px; }
.divtrtarea ul li.th3.amarillo {background-color: #fff99d; color: black;}
.divtrtarea ul li.th3.naranja {background-color: orange;}
.divtrtarea ul li.th3.rojo {background-color: #b46163;}
.divtrtarea ul li.th4 { width:50px; }
.divtrtarea ul li.th4.amarillo {background-color: #fff99d; color: black;}
.divtrtarea ul li.th4.naranja {background-color: orange;}
.divtrtarea ul li.th4.rojo {background-color: #b46163;}
.divtrtarea ul li.th5 { width:50px;  border-left: 1px solid #333333; border-right: 1px solid #333333; }
.divtrtarea ul li.th5.amarillo {background-color: #fff99d; color: black; border-left: 1px solid #333333; border-right: 1px solid #333333; }
.divtrtarea ul li.th5.naranja {background-color: orange; border-left: 1px solid #333333; border-right: 1px solid #333333; }
.divtrtarea ul li.th5.rojo {background-color: #b46163; border-left: 1px solid #333333; border-right: 1px solid #333333; }
.divtrtarea ul li.th6 { width:50px; }
.divtrtarea ul li.th6.amarillo {background-color: #fff99d; color: black;}
.divtrtarea ul li.th6.naranja {background-color: orange;}
.divtrtarea ul li.th6.rojo {background-color: #b46163;}
.divtrtarea ul li.thmes { width: 36px; }
.divtrtarea ul li.thmes.amarillo {background-color: #fff99d; color: black;}
.divtrtarea ul li.thmes.naranja {background-color: orange;}
.divtrtarea ul li.thmes.rojo {background-color: #b46163;}
.divtrtarea ul li.thtotal { width: 50px; }
.divtrtarea ul li.thtotal.amarillo {background-color: #fff99d; color: black;}
.divtrtarea ul li.thtotal.naranja {background-color: orange;}
.divtrtarea ul li.thtotal.rojo {background-color: #b46163;}


/*RELACION */
form div {clear:none;}
div#nav { margin: 0px; padding: 0px; background-color: #C7DBF1; height: 40px; font-size: 8px; margin-bottom: 10px;}
div#nav  ul { display: inline; list-style: none; }
div#nav li {list-style-type:none}

/*.divtrtarea ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color:#C7DBF1; color:black;
     HACK IE6,Ie7
    _display: inline;
    _zoom: 1;
    #display: inline;
    #zoom: 1;
}*/
div#divCategoria { float: left; background-color: inherit; width:120px; }
div#divCoordinador {float: left; background-color: inherit; width:120px; }
div#divProyecto { float: left; background-color: inherit; width:160px; }
.selproy { width:150px; font-size: 9px;}
div#divTecnico { float: left; background-color: inherit; width:110px; }
div#divFechaDesde { float: left; background-color: inherit; width:100px; }
div#divFechaHasta { float: left; background-color: inherit; width:100px; }
div#divSituacion { float: left; background-color:inherit; width:55px; }
div#divFinalizado { float: left; background-color:inherit; width:55px; }
div#divFinalizado select {
	width:40px !important;
}
div#year { float: left; width:60px }
div#year select { width: 55px !important }

/*div#divFecha ul {display: inline;}
div#divFecha li {display: inline;}*/
ul.ulfechasel { display: inline;    list-style: none; }
ul.ulfechasel li {
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    color: #3A7FD9;
    font-weight:bold;
/*    width:200px;*/
    height: 32px;
    text-shadow:0 2px 0 #FFFFFF;
    vertical-align: middle;
/* HACK IE6,Ie7 */
        _display: inline;
	_zoom: 1;
	#display: inline;
	#zoom: 1;
}

/*
¿Tienes alguna solución milagrosa para un obsesivo impaciente pero adorable muchacho?
*/

div#divDetalle { float: left; background-color: inherit; width:100px; }
div#divSituacion { float: left; background-color: inherit; width:110px; }
div#divBotoia { float: left; background-color: inherit; width:95px; }
div#divAgrupar { float: left; background-color: inherit; width:100px; }

        th.thtitulo { width: 100px; }
        th.thmas { width:15px; }
        th.th1 { width:120px; }
        th.th2 { width:120px; }
        th.th3 { width:220px; }
        th.th4 { width:60px; }
        th.th5 { width:60px; }
        th.th6 { width:50px; }
        th.thmes { width: 45px; }
        th.thtotal { width: 50px; }


        a.trigger {background-image: url("../img/plus.gif"); height: 10px;}
        a.trigger.open {background-image: url("../img/minus.gif"); height: 10px;}
        
        th {border-style:none;}
        table {margin-bottom: 5px;}
	/*table.CityTable, table.StateTable{width:400px; border-color:#E0E0E0; text-align:center;}*/
	table.StateTable{ border:1px solid #E0E0E0;}
/*        table.CityTable { margin: 10px auto 10px 30px; width: 90%; border:none;}*/
        table.CityTable { margin: 10px 0px; width: 100%; border:none;}
        
	table td {padding:5px;}
	table.StateTable thead th {background: #E7E7E7; cursor:pointer; color:#0055BB;font-size:10px;}
	table.CityTable thead th { background: #C7DBF1;cursor:pointer; color:black;}

	table.StateTable td.nopad {padding:0;}



/* 
      ADDHORAS
*/


.slim { width: 88px; }
.hover { background-color: #000000; }
.subAccordion {   width: 95% !important; }


.ulfechasel { display:inline; list-style:none; }
.lifechasel {
    display:inline-block;
    list-style:none;
    margin: 0px;
    padding: 0px;
    width: 200px;
    /* HACK IE6,Ie7 */
    _display: inline;
    _zoom: 1;
    #display: inline;
    #zoom: 1;
}
.textfechasel { float: left !important; width:90px !important; }
.inputfechasel { float: left; width:35px !important;}
.spanfechasel { float: left; }
.fezkerra { float: left; }

td.tdnota  {
    text-align: left !important;
}
td.tdtecnico {
    width: 100px !important;
}

#sartuOrduak td {    width: 40px;    padding: 3px;    text-align: center;    margin: 0 auto;}

#sartuOrduak td input {
    clear:both;
    font-family: arial,"verdana","lucida grande",sans-serif;
    font-size: 12px;
    border: solid 1px #85b1de;
    background-color: #d6e5f4;
    display: block;    
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.tdhoras {
	font-family: arial,"verdana","lucida grande",sans-serif;
    font-size: 12px;
    border: solid 1px #85b1de;
    background-color: #d6e5f4;
    display: block;    
    width: 50px;
    text-align: center;
/*    margin: 0 auto;*/
}

#sartuOrduak   .tdProyecto {    
    width: 275px;
    text-align: left;
    margin: 0;
}

.tdFecha {color:#333;}

/* SEMAFOA */
.oria {
    background: none repeat scroll 0 0 #fff99d !important;
}

.naranja {
    background: none repeat scroll 0 0 orange !important;
}

.gorria {
    background: none repeat scroll 0 0 #b46163 !important;
    color: #000000 !important;
}

.taula {
    width: 90%;
    margin: 0 0 0 50px;
    float: right;
}
.taula2 {
    width: 90%;
    margin: 0 0 0 50px;
    float: right;
}
.actions {
    width: 180px;
}
/* USUARIOS */
.usuarioSeleccion form {
    width: 50%;
    margin: 0 auto;
}

.usuarioSeleccion  fieldset legend {
    font-size: 35px;
}

.usuarioSeleccion  select {
    width: 100%;
    cursor: pointer;
    
    padding-top: 5px;
    font-size: 35px;
}

.usuarioSeleccion  option {
    padding-top: 10px;
    font-weight: bold;
}

.usuarioSeleccion input[type="submit"] {
    font-size: 110%;
    display: inline;
    width: 100%;
}


/* LINEAS INDEXAJAX */
#formularioa {
    font-family: arial,verdana, sans-serif;
    font-size:12px;
    list-style-type: none;
    padding: 0;
    margin: 0 0 30px;
/*    border: 1px solid #17a;
    border-top: none;
    border-left: none;*/
}

#formularioa  div {
    font-family: arial,verdana, sans-serif;
    font-size:12px;
}

#formularioa  ul {
    padding: 0;
    margin: 0 auto;
    display: block;
    width: 98%;
}

#formularioa  ul li {
    display: inline;
    cursor: pointer;
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
    display: block;
}

#formularioa form {
    font-family: arial,verdana, sans-serif;
    font-size:12px;
}

#formularioa select {
    font-family: arial,verdana, sans-serif;
    font-size:12px;
}

.titulua {
    width: 100px;
}

/* LINEAS ADDAJAX */

.hasDatepicker {
    width: 120px;
}

.horas {
    width: 120px;
}

.observaciones {
    width: 400px;
}
.datahighlight {
        background-color: #ffdc87 !important;
}

.finalizado {
	display:none;
}

.hitofinalizado {

}