
<!--update_combo_proyecto-->

<?php
if (!empty($hitos)) {
    echo "<option selected='selected' value='-1'>Selecciona Hito </option>";

  foreach ($hitos as $k => $v) {
    echo "<option value='$k'>$v</option>";
  }
}
?>