
<!--update_combo_proyecto-->

<?php
if (!empty($tareas)) {
  echo "<option selected='selected' value='-1'>Selecciona tarea </option>";
  foreach ($tareas as $k => $v) {
    echo "<option value='$k'>$v</option>";
  }
}
?>