<div class="hitos index">
	<h2><?php __('Hitos');?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<!-- <th><?php //echo $this->Paginator->sort('id');?></th> -->
			<th><?php echo $this->Paginator->sort('name');?></th>
			<th><?php echo $this->Paginator->sort('horas_prev');?></th>
			<th><?php echo $this->Paginator->sort('horas_real');?></th>
			<th><?php echo $this->Paginator->sort('usuario_id');?></th>
			<!-- <th><?php //echo $this->Paginator->sort('obs');?></th> -->
			<th><?php echo $this->Paginator->sort('proyecto_id');?></th>
			<th><?php echo $this->Paginator->sort('finalizado'); ?></th>
			<!-- <th><?php //echo $this->Paginator->sort('created');?></th> -->
			<!-- <th><?php //echo $this->Paginator->sort('updated');?></th> -->
			<th class="actions"><?php __('Actions');?></th>
	</tr>
	<?php
	$i = 0;
	foreach ($hitos as $hito):
		$class = null;
		if ($i++ % 2 == 0) {
			$class = ' class="altrow"';
		}
	?>
	<tr<?php echo $class;?>>
		<!-- <td><?php //echo $hito['Hito']['id']; ?>&nbsp;</td> -->
		<td><?php echo $hito['Hito']['name']; ?>&nbsp;</td>
		<td><?php echo $hito['Hito']['horas_prev']; ?>&nbsp;</td>
		<td><?php echo $hito['Hito']['horas_real']; ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($hito['Usuario']['name'], array('controller' => 'usuarios', 'action' => 'view', $hito['Usuario']['id'])); ?>
		</td>
		<!-- <td><?php //echo $hito['Hito']['obs']; ?>&nbsp;</td> -->
		<td>
			<?php echo $this->Html->link($hito['Proyecto']['name'], array('controller' => 'proyectos', 'action' => 'view', $hito['Proyecto']['id'])); ?>
		</td>
		<td><?php echo $hito['Hito']['finalizado']; ?></td>
		<!-- <td><?php //echo $hito['Hito']['created']; ?>&nbsp;</td> -->
		<!-- <td><?php //echo $hito['Hito']['updated']; ?>&nbsp;</td> -->
		<td class="actions">
			<?php echo $this->Html->link(__('View', true), array('action' => 'view', $hito['Hito']['id'])); ?>
			<?php echo $this->Html->link(__('Edit', true), array('action' => 'edit', $hito['Hito']['id'])); ?>
			<?php echo $this->Html->link(__('Delete', true), array('action' => 'delete', $hito['Hito']['id']), null, sprintf(__('Are you sure you want to delete # %s?', true), $hito['Hito']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page %page% of %pages%, showing %current% records out of %count% total, starting on record %start%, ending on %end%', true)
	));
	?>	</p>

	<div class="paging">
		<?php echo $this->Paginator->prev('<< ' . __('previous', true), array(), null, array('class'=>'disabled'));?>
	 | 	<?php echo $this->Paginator->numbers();?>
 |
		<?php echo $this->Paginator->next(__('next', true) . ' >>', array(), null, array('class' => 'disabled'));?>
	</div>
</div>
<div class="actions">
	<h3><?php __('Acciones'); ?></h3>
        <?php if($this->Session->read('admin') == '0') :        ?>
        <ul>
		<li><?php echo $this->Html->link(__('Nueva Linea', true),               array('controller'=>'lineas', 'action' => 'addajax')); ?></li>
                <li>&nbsp;</li>
                <li><?php echo $this->Html->link(__('Vista Proyecto-Hito', true),       array('controller'=>'lineas', 'action' => 'index2')); ?></li>
                <li><?php echo $this->Html->link(__('Vista Proyecto-Hito-Tarea', true), array('controller'=>'lineas', 'action' => 'index3')); ?></li>
                <li><?php echo $this->Html->link(__('Vista Proyecto', true),            array('controller'=>'lineas', 'action' => 'indexajax')); ?></li>
	</ul>
        <?php else : ?>
	<ul>
                <li><?php echo $this->Html->link(__('Lista Hitos', true),               array('controller'=>'hitos','action' => 'index')); ?> </li>
                <li><?php echo $this->Html->link(__('Nuevo Hito', true),                array('controller'=>'hitos','action' => 'add')); ?> </li>
                <li><?php echo $this->Html->link(__('Editar Hito', true),               array('controller'=>'hitos','action' => 'edit', $hito['Hito']['id'])); ?> </li>
		<li><?php echo $this->Html->link(__('Eliminar Hito', true),             array('controller'=>'hitos','action' => 'delete', $hito['Hito']['id']), null, sprintf(__('Seguro que deseas eliminar el hito # %s?', true), $hito['Hito']['name'])); ?> </li>
                <li>&nbsp;</li>
		<li><?php echo $this->Html->link(__('Lista Proyectos', true),           array('controller' => 'proyectos', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('Nuevo Proyecto', true),            array('controller' => 'proyectos', 'action' => 'add')); ?> </li>
                <li>&nbsp;</li>
		<li><?php echo $this->Html->link(__('Lista Hitos', true),               array('controller' => 'hitos', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('Nuevo Hito', true),                array('controller' => 'hitos', 'action' => 'add')); ?> </li>
                <li>&nbsp;</li>
		<li><?php echo $this->Html->link(__('Lista Tareas', true),              array('controller' => 'tareas', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('Nueva Tarea', true),               array('controller' => 'tareas', 'action' => 'add')); ?> </li>
                <li>&nbsp;</li>
                <li><?php echo $this->Html->link(__('Lista Lineas', true),              array('controller' => 'lineas', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('Nueva Linea', true),               array('controller' => 'lineas', 'action' => 'add')); ?> </li>
                <li>&nbsp;</li>
		<li><?php echo $this->Html->link(__('Lista Categorias', true),          array('controller' => 'categorias', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('Nueva Categoria', true),           array('controller' => 'categorias', 'action' => 'add')); ?> </li>
                <li>&nbsp;</li>
                <li><?php echo $this->Html->link(__('Lista Usuarios', true),            array('controller' => 'usuarios', 'action' => 'index')); ?> </li>
                <li><?php echo $this->Html->link(__('Nuevo Usuario', true),             array('controller' => 'usuarios', 'action' => 'add')); ?> </li>
	</ul>
        <?php endif; ?>
</div>